{% block menu %}
    <nav>
        <ul>
            <li><a href="/products">Продукты</a></li>
            <li><a href="/managers">Список менеджеров</a></li>
            <li><a href="/manager/create">Создать менеджера</a></li>
            <li><a href="/logout">Выход</a></li>
        </ul>
    </nav>
{% endblock %}
