{% extends 'root.html.twig' %}

{% block header %}
    <h3>Вы: admin</h3>
{% endblock %}

{% block nav %}
    {% include '/admin/menu.html.twig' %}
{% endblock %}

{% block content %}
{% endblock %}

