{% extends 'root.html.twig' %}

{% block header %}
    <h3>Вы: Guest</h3>
{% endblock %}

{% block nav %}
    {% include '/guest/menu.html.twig' %}
{% endblock %}

{% block content %}
{% endblock %}

