{% block menu %}
    <nav>
        <ul>
            <li><a href="/products/">Список всех продуктов</a></li>
            <li><a href="/product/create">Создать продукт</a></li>
            <li><a href="/set/create">Создать набор</a></li>
            <li><a href="/logout">Выход</a></li>
        </ul>
    </nav>
{% endblock %}
