{% extends 'root.html.twig' %}

{% block header %}
    <h3>Вы: manager</h3>
{% endblock %}

{% block nav %}
    {% include '/manager/menu.html.twig' %}
{% endblock %}

{% block content %}
{% endblock %}

